*{
  box-sizing: border-box;
}

:root{
  --bg-color: #e0ece7;
  --btn-color: #028090;
  --alt-color: #05668d;
}

/* Animation for first word */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for second word */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(15%);
  }
}

html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

body{
  background: var(--bg-color);
  padding: 40px;
  width: 1300px;
  margin: auto;
}

h1{
  margin-bottom: 40px;

}

a{
  text-decoration: none;
}

.wrapper{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* -------------------------------------------------------------------------- */
/*                                    QUOTE                                   */
/* -------------------------------------------------------------------------- */
.quote{
  font-size: 4em;
  position: relative;

}

.quote span:first-of-type, .quote span:last-of-type{
  display: inline-block;
  opacity: 0;
}
.quote span:first-of-type{
  color: var(--alt-color);
  animation: slideDown 1.5s ease-out forwards;
}
.quote span:last-of-type{
  color: var(--btn-color);
  animation: slideIn 1.5s ease-out forwards;
  animation-delay: 0.5s;
}


/* -------------------------------------------------------------------------- */
/*                                 LOGIN FORM                                 */
/* -------------------------------------------------------------------------- */


form{
  background: white;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 600px;
  border-radius: 10px;
  margin: auto;
  padding: 40px;
  align-items: center;
  gap: 30px;
}

form h1{
  color: var(--btn-color);
}
label{
  width: 100%;
  outline: var(--btn-color);
}

input, select{
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background: /* linear-gradient(#7496a3, #98c0bd); */ #e0ece7;
  width: 100%;
  font-size: 2em;
}

input:active{
  outline: var(--btn-color);
}

input::placeholder{
  text-align: center;
}

input[type="submit"]{
  background: var(--btn-color);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  margin-bottom: auto;
}

.logo{
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--btn-color);
  gap: 5px;
  font-size: 2em;
}

.logo span:first-of-type{
  background: var(--btn-color);
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
}

.forgot{
  color: #900702;
  font-size: 1.5em;
}

.home{
  width: 100%;
}